/* FILEPATH: /C:/Users/Demon/OneDrive/Documents/GitHub/toDoList/main.css */

/* Global Styles */
:root {
    /* Colors */
    --primary: #EA40A4;
    --light: #EEE;
    --dark: #313154;
    --grey: #888;
    --danger: #ff5b57;
    --edit-highlight: #3A82EE;
    --hover-grey: #f3f3f3;
    --select-border: #ccc;

    /* Shadows */
    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%; 
}

#vanta-bg {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.app {
    position: relative; 
    z-index: 1; 
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: var(--light);
    color: var(--dark);
}

.content-container {
    display: flex;
    justify-content: space-between; 
    align-items: start; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

header, body, button, input, select {
    font-family: 'Press Start 2P', cursive;
}

/* Body Styles */
body {
    font-family: 'Press Start 2P', cursive;
    background: var(--light);
    color: var(--dark);
}

/* Header Styles */
.header {
    background-color: transparent; /* Ensures header background is transparent */
    color: var(--dark);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2; /* Keeps header above other elements */
}

.logo {
    width: 60px;
    height: auto;
}

.header h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    margin: 0; /* Removes default margin */
    flex-grow: 1; /* Allows the title to take up available space */
    text-align: left; /* Aligns the text to the left */
}

.header .logo-container {
    display: flex;
    align-items: center;
}


.header .logo-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--dark); /* Ensures text color is consistent */
}


.header .logo-container a:hover {
    color: var(--primary); /* Changes color on hover */
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 1rem;
}

/* Section Styles */
section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* Typography Styles */
h3 {
    color: var(--dark);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5em;
}

h4 {
    color: var(--grey);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

/* Greeting Styles */
.greeting .title {
    display: flex;
}

.greeting .title input {
    margin-left: 0.5rem;
    flex: 1 1 0%;
    min-width: 0;
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 700;
}

/* Create Todo Styles */
.create-todo,
.todo-list {
    flex: 1;
    margin: 0 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.create-todo input[type="text"] {
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    color: var(--dark);
    background-color: #EFF;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
}

.create-todo .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
}

.create-todo .options label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    cursor: pointer;
}

.create-todo .options label div {
    color: var(--dark);
    font-size: 1.125rem;
    margin-top: 1rem;
}

/* Todo List Styles */
.todo-list .list {
    margin: 1rem 0;
}

.todo-item {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.todo-list .todo-item {
    display: flex;
    align-items: center;
    background-color: #FFF;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
}

.todo-item input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid var(--select-border);
    border-radius: 4px;
    margin-bottom: 5px;
    color: var(--dark);
    font-size: 1rem;
}

.todo-item input[type="text"]:not([readonly]) {
    border-color: var(--edit-highlight);
    box-shadow: 0 0 5px rgba(58, 130, 238, 0.5);
}

.todo-item input[type="text"][readonly]:hover {
    background-color: var(--hover-grey);
    cursor: pointer;
}

.todo-item select {
    padding: 5px;
    border-radius: 4px;
    display: none;
    width: 100%;
    margin-top: 5px;
    border: 1px solid var(--select-border);
}

.todo-item .actions {
    display: flex;
    align-items: center;
}

.todo-item .actions button {
    padding: 3px 6px;
    font-size: 0.5rem;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    background-color: var(--primary);
    color: #FFF;
}

.todo-item .actions button:hover {
    opacity: 0.8;
}

.todo-item .actions .edit,
.todo-item .actions .delete,
.todo-item .actions .complete {
    background-color: var(--primary);
}

.todo-item .actions .edit:hover,
.todo-item .actions .delete:hover,
.todo-item .actions .complete:hover {
    background-color: darken(var(--primary), 10%);
}

.todo-item .actions .edit {
    background-color: #ffc107;
    color: black;
}

.todo-item .actions .delete {
    background-color: var(--danger);
}

.todo-item .actions .complete {
    background-color: #28a745;
    color: white;
}

.todo-item.done .todo-content input {
    text-decoration: line-through;
    color: var(--grey);
}

.user-stats {
    text-align: center;
    margin-bottom: 1rem;
}

.user-stats h4 {
    color: var(--dark);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

/* Additional Styling */
.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solider var(--business);
    box-shadow: var(--business-glow);
}

.bubble.personal {
    border-color: var(--personal);
    box-shadow: var(--personal-glow);
}

.bubble::after {
    content: "";
    display: block;
    opacity: 0;
    width: 0;
    height: 0;
    background-color: var(--business);
    box-shadow: var(--business-glow);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.bubble.personal::after {
    background-color: var(--personal);
    box-shadow: var(--personal-glow);
}

input:checked ~ .bubble::after {
    width: 10px;
    height: 10px;
    opacity: 1;
}

.create-todo input[type="submit"] {
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    color: #FFF;
    background-color: var(--primary);
    border-radius: 0.5rem;
    cursor: pointer;
    border: 3px solid var(--dark); /* Solid border */
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
}

.create-todo input[type="submit"]:hover {
    background-color: #ff5b57; /* Adjusted hover color */
    transform: scale(1.05);
}

.create-todo input[type="submit"]:active {
    transform: scale(0.95);
}

.user-stats {
    text-align: center;
    margin-bottom: 1rem;
    background: rgba(0, 0, 0, 0.6); 
    border-radius: 10px;
    padding: 1rem;
    color: #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-family: 'Press Start 2P', cursive; /* Pixelated font for a retro game feel */
}

.user-stats h4 {
    margin-bottom: 0.5rem;
    color: var(--light);
    text-shadow: 2px 2px var(--dark);
}

/* Progress Bar Styles */
.progress-bar {
    background-color: var(--grey);
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 1rem;
    overflow: hidden; /* Ensures the inner bar doesn't exceed the outer bar's rounded corners */
}

.progress-bar-inner {
    background-color: var(--primary);
    width: 0%; /* Initial width, dynamically update this with JS based on XP */
    height: 10px;
    border-radius: 2px;
    transition: width 0.5s ease-in-out;
}

.xp-bar-container {
    width: 100%;
    background-color: #ddd;
    border-radius: 4px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
}

.xp-bar {
    height: 20px;
    background-color: var(--primary);
    width: 0%; /* Initial width */
    border-radius: 3px;
    transition: width 0.5s ease-in-out;
}


/* Level-Up Notification Styles */
.level-up-notification {
    display: none; /* Hidden by default */
    position: fixed; /* Positioned relative to the viewport */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary);
    color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 1000; 
    animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    20%, 80% { opacity: 1; }
}

@media (max-width: 768px) { /* Adjust the breakpoint as needed */
    .app, .content-container{
        flex-direction: column; /* Stack the sections */
    }
}


/* Styling for the Tab Links */
.tab-links {
    text-align: center;
    margin-bottom: 1rem;
}

.tab-links button {
    background-color: var(--primary); /* Use your primary color */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive; /* Pixelated font for a retro game feel */
    box-shadow: 3px 3px var(--dark); /* Adds depth */
    transition: all 0.2s;
}

.tab-links button:hover {
    background-color: #D030A4;
    transform: translateY(-2px);
    box-shadow: 5px 5px var(--dark);
}

.tab-links button:active {
    transform: translateY(1px);
    box-shadow: 1px 1px var(--dark);
}

#logoutBtn {
    background-color: #ff5b57; 
    color: white; 
    padding: 10px 20px; 
    font-size: 1rem; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-weight: bold; 
    letter-spacing: 1px; 
}

#logoutBtn:hover {
    background-color: darken(#ff5b57, 15%); /* Darken button color on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); /* Larger shadow on hover */
    transform: translateY(-2px); /* Slight move up on hover */
}


/* Settings Styles */
#settings {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: var(--shadow);
    margin: 2rem;
}

#settings h2 {
    color: var(--primary);
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

#settings .form-group {
    margin-bottom: 1rem;
}

#settings label {
    display: block;
    color: var(--dark);
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

#settings input[type="checkbox"],
#settings input[type="radio"] {
    margin-right: 0.5rem;
}

#settings select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid var(--select-border);
    border-radius: 4px;
    margin-bottom: 1rem;
}

#settings button {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--primary);
    color: #FFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: var(--shadow);
    transition: background-color 0.2s;
}

#settings button:hover {
    background-color: darken(var(--primary), 10%);
}


/* Global Dark Mode Styles */
.dark-mode {
    --primary: #EA40A4;  /* Primary pink color */
    --light: #3d3d3d;    /* Dark background */
    --dark: #E0E0E0;     /* Light text */
    --grey: #AAA;        /* Adjusted grey for dark mode */
    --danger: #FF6B6B;   /* Adjusted danger color */
    --edit-highlight: #3A82EE; /* Edit highlight color */
    --hover-grey: #3B3B3B; /* Dark hover background */
    --select-border: #555; /* Darker border for selects */
}

/* Applying Dark Mode Styles */
.dark-mode body {
    background: var(--dark); /* Dark background for the whole page */
    color: var(--light); /* Light text for readability */
}

.dark-mode .header,
.dark-mode .tab-links button,
.dark-mode #logoutBtn {
    background: transparent; /* Primary color for header and buttons */
    color: var(--dark); /* Dark text on primary background */
}

.dark-mode .app,
.dark-mode #settings,
.dark-mode .create-todo,
.dark-mode .todo-list {
    background: var(--light); /* Lighter surface color */
    color: var(--dark); /* Dark text for contrast */
}

.dark-mode .todo-item {
    background-color: var(--grey); /* Slightly lighter background for todo items */
    color: var(--dark);
}

.dark-mode .progress-bar {
    background-color: var(--grey); /* Darker progress bar background */
}

.dark-mode .progress-bar-inner {
    background-color: var(--primary); /* Primary color for progress */
}

/* Specific Adjustments for Difficulty Buttons in Dark Mode */
.dark-mode .create-todo .options.difficulty label {
    background-color: var(--grey); /* Darker background for difficulty labels */
    color: var(--light); /* Light text */
}

.dark-mode .create-todo .options.difficulty label:hover {
    background-color: var(--primary); /* Primary color on hover */
    color: var(--dark); /* Dark text on primary background */
}

.dark-mode .create-todo .options.difficulty input[type="radio"]:checked + .bubble::after {
    background-color: var(--primary); /* Primary color for checked state */
}

.dark-mode #challenges {
    background: rgba(49, 49, 49, 0.7); /* Semi-transparent black background */
    border-radius: 10px;
    padding: 1rem;
    box-shadow: var(--shadow);
    color: var(--); /* Light text for contrast */
    font-family: 'Press Start 2P', cursive;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensures body takes the full viewport height */
    overflow: hidden; /* Hides scrollbars */
}

canvas {
    position: fixed; /* Ensures canvas is fixed over the whole page */
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    z-index: -1; /* Sends canvas to the back */
}


/* Challenges Page Styles */
#challenges {
    background: rgba(243, 243, 243, 0.7); /* Semi-transparent black background */
    border-radius: 10px;
    padding: 1rem;
    box-shadow: var(--shadow);
    color: var(--light); /* Light text for contrast */
    font-family: 'Press Start 2P', cursive;
}

#challenges h2, #challenges h3 {
    text-align: center;
    color: var(--primary);
    margin-bottom: 1rem;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

#challenges ul {
    list-style: none;
    padding: 0;
}

#challenges li {
    background: var(--dark); /* Darker background for list items */
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: var(--shadow);
    cursor: pointer; /* Indicate items are interactive */
    transition: background-color 0.2s ease-in-out;
}

#challenges li:hover {
    background-color: var(--edit-highlight); /* Highlight color on hover */
}

#challenges li span {
    color: var(--danger);
    margin-left: 10px;
}

#challenges .complete {
    color: #28a745; /* Green color for completed tasks */
}

/* Additional Styles for Achievements */
#challenges h3.achievements {
    margin-top: 2rem; /* Adds space above the achievements section */
}


/* Daily Tasks Styling */
#dailyTasks li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

#dailyTasks li span {
    background-color: var(--grey);
    color: var(--dark);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    box-shadow: var(--shadow);
}

#dailyTasks li span:hover {
    background-color: var(--primary);
    color: var(--light);
    cursor: pointer;
}

#dailyTasks li.completed span {
    background-color: var(--edit-highlight);
    color: var(--light);
    cursor: default;
}

/* Responsive Design for Challenges */
@media (max-width: 768px) {
    #challenges {
        margin: 1rem;
        padding: 0.5rem;
    }

    #challenges h2, #challenges h3 {
        font-size: 0.9rem;
    }

    #challenges li {
        font-size: 0.8rem;
    }
}
