/* FILEPATH: /C:/Users/Demon/OneDrive/Documents/GitHub/toDoList/main.css */

/* Global Styles */
:root {
    /* Colors */
    --primary: #EA40A4;
    --light: #EEE;
    --dark: #313154;
    --grey: #888;
    --danger: #ff5b57;
    --edit-highlight: #3A82EE;
    --hover-grey: #f3f3f3;
    --select-border: #ccc;

    /* Shadows */
    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

header, body, button, input, select {
    font-family: 'Press Start 2P', cursive;
}

/* Body Styles */
body {
    font-family: 'Press Start 2P', cursive;
    background: var(--light);
    color: var(--dark);
}

/* Header Styles */
.header {
    background-color: var(--dark);
    color: var(--light);
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 1rem;
}

/* Section Styles */
section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* Typography Styles */
h3 {
    color: var(--dark);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5em;
}

h4 {
    color: var(--grey);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

/* Greeting Styles */
.greeting .title {
    display: flex;
}

.greeting .title input {
    margin-left: 0.5rem;
    flex: 1 1 0%;
    min-width: 0;
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 700;
}

/* Create Todo Styles */
.create-todo,
.todo-list {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.create-todo input[type="text"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--dark);
    background-color: #EFF;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
}

.create-todo .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
}

.create-todo .options label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    cursor: pointer;
}

.create-todo .options label div {
    color: var(--dark);
    font-size: 1.125rem;
    margin-top: 1rem;
}

/* Todo List Styles */
.todo-list .list {
    margin: 1rem 0;
}

.todo-list .todo-item {
    display: flex;
    align-items: center;
    background-color: #FFF;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
}

.todo-item input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid var(--select-border);
    border-radius: 4px;
    margin-bottom: 5px;
    color: var(--dark);
    font-size: 1.125rem;
}

.todo-item input[type="text"]:not([readonly]) {
    border-color: var(--edit-highlight);
    box-shadow: 0 0 5px rgba(58, 130, 238, 0.5);
}

.todo-item input[type="text"][readonly]:hover {
    background-color: var(--hover-grey);
    cursor: pointer;
}

.todo-item select {
    padding: 5px;
    border-radius: 4px;
    display: none;
    width: 100%;
    margin-top: 5px;
    border: 1px solid var(--select-border);
}

.todo-item .actions {
    display: flex;
    align-items: center;
}

.todo-item .actions button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    background-color: var(--primary);
    color: #FFF;
}

.todo-item .actions button:hover {
    opacity: 0.8;
}

.todo-item .actions .edit,
.todo-item .actions .delete,
.todo-item .actions .complete {
    background-color: var(--primary);
}

.todo-item .actions .edit:hover,
.todo-item .actions .delete:hover,
.todo-item .actions .complete:hover {
    background-color: darken(var(--primary), 10%);
}

.todo-item .actions .edit {
    background-color: #ffc107;
    color: black;
}

.todo-item .actions .delete {
    background-color: var(--danger);
}

.todo-item .actions .complete {
    background-color: #28a745;
    color: white;
}

.todo-item.done .todo-content input {
    text-decoration: line-through;
    color: var(--grey);
}

.user-stats {
    text-align: center;
    margin-bottom: 1rem;
}

.user-stats h4 {
    color: var(--dark);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

/* Additional Styling */
.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solider var(--business);
    box-shadow: var(--business-glow);
}

.bubble.personal {
    border-color: var(--personal);
    box-shadow: var(--personal-glow);
}

.bubble::after {
    content: "";
    display: block;
    opacity: 0;
    width: 0;
    height: 0;
    background-color: var(--business);
    box-shadow: var(--business-glow);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.bubble.personal::after {
    background-color: var(--personal);
    box-shadow: var(--personal-glow);
}

input:checked ~ .bubble::after {
    width: 10px;
    height: 10px;
    opacity: 1;
}

.create-todo input[type="submit"] {
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    color: #FFF;
    background-color: var(--primary);
    border-radius: 0.5rem;
    cursor: pointer;
    border: 3px solid var(--dark); /* Solid border */
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
}

.create-todo input[type="submit"]:hover {
    background-color: #ff5b57; /* Adjusted hover color */
    transform: scale(1.05);
}

.create-todo input[type="submit"]:active {
    transform: scale(0.95);
}